In [1]:
import pandas as pd

scores_path = "/home/hep/an1522/dark_tridents_wspace/outputs/inference/run1_signal_resnet34_gn/run1_dt_ratio_0.6_ma_0.05_pi0_larcv_cropped_scores.csv"

df = pd.read_csv(scores_path)

# Make sure entry_number is an int (yours look like floats in the CSV)
df["entry_number"] = df["entry_number"].astype(int)

df.head()

,run_number,subrun_number,event_number,signal_score,entry_number,n_pixels
0,5437,50,2545,0.880879,0,2126.0
1,5437,50,2549,0.976593,1,1516.0
2,5437,50,2550,0.967676,2,1691.0
3,5437,51,2584,0.953182,3,3739.0
4,5437,52,2602,0.999204,4,598.0

In [2]:
def top_by_score(df, n=20, min_pixels=None):
    x = df
    if min_pixels is not None:
        x = x[x["n_pixels"] >= min_pixels]
    return x.sort_values("signal_score", ascending=False).head(n)[
        ["run_number","subrun_number","event_number","entry_number","signal_score","n_pixels"]
    ]

top_by_score(df, n=10)
# top_by_score(df, n=10, min_pixels=500)

,run_number,subrun_number,event_number,entry_number,signal_score,n_pixels
4163,5557,51,2578,4163,0.999659,3165.0
632,5541,19,969,632,0.999647,3090.0
363,5454,38,1940,363,0.999637,2213.0
2392,5371,46,2336,2392,0.999620,2292.0
2566,5444,42,2129,2566,0.999600,2112.0
2881,5409,11,592,2881,0.999600,3085.0
847,5382,28,1415,847,0.999582,2443.0
3066,5106,163,8165,3066,0.999554,2996.0
3843,5370,80,4022,3843,0.999546,2387.0
520,5538,13,691,520,0.999521,2027.0

In [3]:
row = top_by_score(df, n=1).iloc[0]
entry = int(row["entry_number"])
run, subrun, evt = int(row["run_number"]), int(row["subrun_number"]), int(row["event_number"])

print("ENTRY:", entry, "run/subrun/event:", run, subrun, evt)
print(f"python3 ./uboone/occlusion_analysis_CNN.py -n {entry}")

ENTRY: 4163 run/subrun/event: 5557 51 2578
python3 ./uboone/occlusion_analysis_CNN.py -n 4163

In [4]:
import numpy as np

def nearest_score(df, target_score, n=10, min_pixels=None):
    x = df
    if min_pixels is not None:
        x = x[x["n_pixels"] >= min_pixels]
    d = (x["signal_score"] - target_score).abs()
    out = x.loc[d.nsmallest(n).index]
    return out.sort_values("signal_score")[["run_number","subrun_number","event_number","entry_number","signal_score","n_pixels"]]

nearest_score(df, target_score=0.085, n=10)

,run_number,subrun_number,event_number,entry_number,signal_score,n_pixels
1133,5433,1,74,1133,0.080090,473.0
1931,5436,80,4005,1931,0.080276,2994.0
3433,5384,45,2279,3433,0.081671,802.0
605,5540,6,311,605,0.082120,1610.0
2660,5506,24,1228,2660,0.082495,3690.0
2130,5557,81,4079,2130,0.083387,433.0
986,5576,77,3888,986,0.084421,1189.0
2322,5532,15,781,2322,0.085459,2466.0
1910,5368,4,202,1910,0.087044,1274.0
1330,5386,46,2309,1330,0.089381,770.0

In [5]:
def top_by_pixels(df, n=20, min_score=None):
    x = df
    if min_score is not None:
        x = x[x["signal_score"] >= min_score]
    return x.sort_values("n_pixels", ascending=False).head(n)[
        ["run_number","subrun_number","event_number","entry_number","signal_score","n_pixels"]
    ]

top_by_pixels(df, n=10)

,run_number,subrun_number,event_number,entry_number,signal_score,n_pixels
1602,5539,31,1567,1602,0.494964,14097.0
1244,4999,3,153,1244,0.005003,9426.0
3081,5541,4,250,3081,0.126191,7305.0
498,5535,14,735,498,0.961353,6711.0
2166,5536,26,1345,2166,0.758776,6601.0
2477,5386,118,5941,2477,0.811788,6504.0
1571,5539,5,253,1571,0.946380,6498.0
1533,5386,150,7515,1533,0.993210,6497.0
2601,5544,6,335,2601,0.985352,6411.0
2737,5512,190,9516,2737,0.985783,6324.0

In [6]:
def nearest_pixels(df, target_pixels, n=10, min_score=None):
    x = df
    if min_score is not None:
        x = x[x["signal_score"] >= min_score]
    d = (x["n_pixels"] - target_pixels).abs()
    out = x.loc[d.nsmallest(n).index]
    return out.sort_values("n_pixels")[["run_number","subrun_number","event_number","entry_number","signal_score","n_pixels"]]

nearest_pixels(df, target_pixels=2000, n=10)

,run_number,subrun_number,event_number,entry_number,signal_score,n_pixels
1579,5377,43,2176,1579,0.995283,1997.0
1737,5436,141,7097,1737,0.657209,1999.0
2628,5561,52,2607,2628,0.521712,2001.0
2295,5368,113,5651,2295,0.993108,2001.0
3006,5576,110,5539,3006,0.740305,2001.0
2664,5506,26,1328,2664,0.991360,2001.0
3922,5541,67,3388,3922,0.855714,2002.0
1212,5509,31,1553,1212,0.991286,2002.0
295,5368,62,3136,295,0.998282,2003.0
811,5540,84,4231,811,0.914666,2003.0

In [7]:
def filter_range(df, score_min=None, score_max=None, pixels_min=None, pixels_max=None):
    x = df
    if score_min is not None:   x = x[x["signal_score"] >= score_min]
    if score_max is not None:   x = x[x["signal_score"] <= score_max]
    if pixels_min is not None:  x = x[x["n_pixels"] >= pixels_min]
    if pixels_max is not None:  x = x[x["n_pixels"] <= pixels_max]
    return x[["run_number","subrun_number","event_number","entry_number","signal_score","n_pixels"]]

filter_range(df, score_min=0.05, pixels_min=1500).head(20)

,run_number,subrun_number,event_number,entry_number,signal_score,n_pixels
0,5437,50,2545,0,0.880879,2126.0
1,5437,50,2549,1,0.976593,1516.0
2,5437,50,2550,2,0.967676,1691.0
3,5437,51,2584,3,0.953182,3739.0
7,5437,57,2890,7,0.706075,1948.0
9,5536,80,4024,9,0.993452,2913.0
10,5536,80,4027,10,0.436639,4157.0
16,5536,83,4161,16,0.978521,1785.0
17,5536,83,4171,17,0.993728,4220.0
19,5536,84,4223,19,0.957613,4067.0
21,5536,85,4285,21,0.967826,1782.0
22,5536,85,4298,22,0.981909,3503.0
24,5536,87,4383,24,0.931621,2985.0
25,5536,87,4389,25,0.746656,3202.0
26,5536,88,4445,26,0.993626,3299.0
28,5576,31,1590,28,0.947377,3416.0
30,5576,33,1656,30,0.998831,1528.0
31,5576,33,1661,31,0.933375,2184.0
32,5576,33,1676,32,0.963070,3111.0
33,5576,33,1699,33,0.958490,2804.0

In [8]:
from pathlib import Path

folder = Path("/home/hep/an1522/dark_tridents_wspace/outputs/inference/run1_signal")

dfs = []
for p in sorted(folder.glob("*_scores.csv")):
    tmp = pd.read_csv(p)
    tmp["entry_number"] = tmp["entry_number"].astype(int)
    tmp["source_file"] = p.name
    dfs.append(tmp)

all_df = pd.concat(dfs, ignore_index=True)

print("Loaded rows:", len(all_df), "from", len(dfs), "files")
all_df.head()

Loaded rows: 208742 from 43 files

,run_number,subrun_number,event_number,signal_score,entry_number,n_pixels,source_file
0,4982,95,4794,0.543542,0,1155.0,run1_dt_ratio_0.6_ma_0.01_pi0_larcv_cropped_sc...
1,4982,97,4880,0.927087,1,460.0,run1_dt_ratio_0.6_ma_0.01_pi0_larcv_cropped_sc...
2,4982,97,4884,0.002772,2,79.0,run1_dt_ratio_0.6_ma_0.01_pi0_larcv_cropped_sc...
3,4982,97,4889,0.988597,3,3468.0,run1_dt_ratio_0.6_ma_0.01_pi0_larcv_cropped_sc...
4,4982,98,4935,0.999284,4,1826.0,run1_dt_ratio_0.6_ma_0.01_pi0_larcv_cropped_sc...

In [9]:
top_by_score(all_df, n=20, min_pixels=500)

,run_number,subrun_number,event_number,entry_number,signal_score,n_pixels
190913,5393,20,1039,2789,0.999998,2709.0
7899,7004,59,2976,3420,0.999998,1496.0
78609,6286,59,2978,1747,0.999997,2620.0
24334,5516,40,2020,1145,0.999997,2716.0
7169,6749,227,11357,2690,0.999997,1798.0
72802,6221,48,2421,3336,0.999997,2455.0
9500,6575,13,686,503,0.999996,1478.0
157170,5577,43,2174,4139,0.999996,2435.0
119945,7010,467,23355,3425,0.999996,2531.0
202627,5005,54,2707,1758,0.999996,2145.0
37158,5418,55,2767,2882,0.999996,1588.0
163913,5184,39,1979,2319,0.999996,2466.0
12584,6508,46,2316,3587,0.999996,3799.0
123966,7010,802,40121,415,0.999996,2259.0
132554,6283,76,3836,4151,0.999995,3773.0
173654,6183,76,3833,198,0.999995,2725.0
198107,5227,34,1726,1446,0.999995,2945.0
198296,5331,64,3250,1635,0.999995,2230.0
48384,5909,22,1120,4343,0.999995,5031.0
186360,5616,1,64,2490,0.999995,1984.0

In [10]:
all_df.sort_values("signal_score", ascending=False).head(20)[
    ["source_file","run_number","subrun_number","event_number","entry_number","signal_score","n_pixels"]
]

,source_file,run_number,subrun_number,event_number,entry_number,signal_score,n_pixels
7899,run1_dt_ratio_0.6_ma_0.02_eta_larcv_cropped_sc...,7004,59,2976,3420,0.999998,1496.0
190913,run1_dt_ratio_2.0_ma_0.105_eta_larcv_cropped_s...,5393,20,1039,2789,0.999998,2709.0
78609,run1_dt_ratio_0.6_ma_0.1_eta_larcv_cropped_sco...,6286,59,2978,1747,0.999997,2620.0
24334,run1_dt_ratio_0.6_ma_0.04_eta_larcv_cropped_sc...,5516,40,2020,1145,0.999997,2716.0
7169,run1_dt_ratio_0.6_ma_0.02_eta_larcv_cropped_sc...,6749,227,11357,2690,0.999997,1798.0
72802,run1_dt_ratio_0.6_ma_0.09_eta_larcv_cropped_sc...,6221,48,2421,3336,0.999997,2455.0
9500,run1_dt_ratio_0.6_ma_0.02_pi0_larcv_cropped_sc...,6575,13,686,503,0.999996,1478.0
157170,run1_dt_ratio_2.0_ma_0.060_eta_larcv_cropped_s...,5577,43,2174,4139,0.999996,2435.0
119945,run1_dt_ratio_2.0_ma_0.010_eta_larcv_cropped_s...,7010,467,23355,3425,0.999996,2531.0
37158,run1_dt_ratio_0.6_ma_0.05_eta_larcv_cropped_sc...,5418,55,2767,2882,0.999996,1588.0
202627,run1_dt_ratio_2.0_ma_0.120_eta_larcv_cropped_s...,5005,54,2707,1758,0.999996,2145.0
12584,run1_dt_ratio_0.6_ma_0.02_pi0_larcv_cropped_sc...,6508,46,2316,3587,0.999996,3799.0
123966,run1_dt_ratio_2.0_ma_0.010_pi0_larcv_cropped_s...,7010,802,40121,415,0.999996,2259.0
163913,run1_dt_ratio_2.0_ma_0.070_eta_larcv_cropped_s...,5184,39,1979,2319,0.999996,2466.0
173654,run1_dt_ratio_2.0_ma_0.085_eta_larcv_cropped_s...,6183,76,3833,198,0.999995,2725.0
132554,run1_dt_ratio_2.0_ma_0.020_eta_larcv_cropped_s...,6283,76,3836,4151,0.999995,3773.0
198107,run1_dt_ratio_2.0_ma_0.115_eta_larcv_cropped_s...,5227,34,1726,1446,0.999995,2945.0
198296,run1_dt_ratio_2.0_ma_0.115_eta_larcv_cropped_s...,5331,64,3250,1635,0.999995,2230.0
186360,run1_dt_ratio_2.0_ma_0.100_eta_larcv_cropped_s...,5616,1,64,2490,0.999995,1984.0
48384,run1_dt_ratio_0.6_ma_0.06_eta_larcv_cropped_sc...,5909,22,1120,4343,0.999995,5031.0